*{
    padding: 0;
    margin: 0;   
}
h2{
    text-align: center;
    font-size: 25px;
}
#textId{
    height: 60px;
    width: 800px;
    text-align:initial;
    align-items: center;
    margin-top: 40px;
    border-radius: 2px;
}
p{
   margin-top: 50px;
    margin-left: 50px;
    font-size: 25px; 
}

.clear{
    margin-top: 50px;
    margin-left: 50px;
     height: 50px;
    width: 100px;
    border-radius:10px;
    justify-content: center;
    background-color: black;
    color: beige;

}
.copy{
    margin-top: 50px;
    margin-left: 50px;
    height: 50px;
    width: 100px;
    border-radius:10px;
    justify-content: center;
    background-color: black;
    color: beige;
}
.msg{
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}
.textarea{
    text-align: center;
}
.buttons{
    text-align: center;
}