h1{
    text-align: center;
}
.container {
    width: 350px;
    margin: 40px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}
.image {
    width: 100%;
    height: 180px;
    background-color: red;   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.text {
    font-size: 18px;
    margin: 8px 0 15px 0;
}
.dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.dots div {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    transition: 0.3s;
}

/* Active dot (highlight) */
.active {
    background-color: black;
    transform: scale(1.3);
}
button {
    padding: 10px 16px;
    margin: 5px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #555;
}

button:disabled {
    background-color: #888;
    cursor: not-allowed;
}