*{
    padding: 0;
    margin: 0;
}
h2{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}
.buttons{
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.button{
    height: 60px;
    width: 160px;
    border-radius: 15px;
    font-size: 25px;
    margin-top: 40px;
}
#button1{
    margin-left: 30px;
    border: white;
    background-color: white;
    box-shadow: 0px 4px 10px red;
}
#button2{
    margin-left: 30px;
    border: white;
    background-color: white;
    box-shadow: 0px 4px 10px blue;
}
#button3{
    margin-left: 30px;
    border: white;
    background-color: white;
    box-shadow: 0px 4px 10px green;
}
#button4{
    margin-left: 30px;
    border: white;
    background-color: white;
    box-shadow: 0px 4px 10px yellow;
}
p{
    margin-top: 50px;
    font-size: 25px;
}
h3{
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    /* margin-right: 80px; */
}
.resetbtn{
    text-align: center;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color:rgb(12, 55, 55);
    color: beige;
    font-size: 25px;
    display: block;
    margin: auto;
    margin-top: 50px;
    /* justify-content: center;
    align-items: center; */
}