*{
    padding: 0;
    margin: 0;
}
h2{
    text-align: center;
    margin-top: 20px;
    font-size: 35px;
}
.buttons{
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.button{
    height: 60px;
    width: 160px;
    border-radius: 15px;
    font-size: 25px;
    margin-top: 40px;
}
#button1{
    margin-left: 30px;
    border: white;
    background-color: white;
    box-shadow: 0px 4px red;
}
#button2{
    margin-left: 30px;
    border: white;
    background-color: white;
    box-shadow: 0px 4px 5px blue;
}
#button3{
    margin-left: 30px;
    border: white;
    background-color: white;
    box-shadow: 0px 4px 5px green;
}
#button4{
    margin-left: 30px;
    border: white;
    background-color: white;
    box-shadow: 0px 4px 5px yellow;
}
p{
    margin-top: 50px;
    font-size: 25px;
}